body {
  padding: 80px 20px;
}

.thumb {
  width: 200px;
  height: 200px;
  float: left;
  padding:0;
  margin:0;
  border: 1px #ccc solid;
}

.thumb .folder {
  display: block;
}

.thumb .folder a {
  font-size: 20px;
  margin-top: 20px;
  position: static;
  display: block;
  text-align: center;
}
.thumb .folder a span {
  font-size: 40px;
}
